
<!--
<ul>
      <li *ngFor="let post of posts">{{ post.name }}</li>
    </ul>
    <ul>
      <li *ngFor="let post of posts">{{ post.quantity }}</li>
    </ul> -->
<!-- <div class="input-group">
  <mdb-form-control>
    <input #input mdbInput type="search" id="form1" class="form-control" />
    <label mdbLabel class="form-label" for="form1">Search</label>
  </mdb-form-control>
  <button type="button" class="btn btn-primary" (click)="fetchDataById(id)">
    <i class="fas fa-search"></i>
  </button>
</div> -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid center">
    <form class="d-flex" style="margin-left: 400px;">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
<form>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputEmail4">વર્ષ</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-4">
      <label for="inputPassword4">શાખા</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
      </div>
   <div class="form-row"></div>
    <div class="form-group col-md-3">
      <label for="inputPassword4">કેટેગરી</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
    <div class="form-group col-md-3">
      <label for="inputPassword4">પ્રકાર</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>

  <div class="form-group">
    <label for="inputAddress">વિષય</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="form-group">
    <label for="inputAddress">નામ</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>

  <div class="form-group">
    <label for="inputAddress">સરનામું</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputCity">ગામ</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">તાલુકો</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <!-- <div class="form-group col-md-4">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div> -->
  </div>

  <div class="form-group  col-md-4">
    <label for="inputAddress">હુકમનુ નામ </label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
    <div class="form-group  col-md-4">
    <label for="inputAddress">કબાટ નંબર</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="form-row">
      <div class="form-group  col-md-4">
    <label for="inputAddress">દફતર નંબર </label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
      <div class="form-group  col-md-4">
    <label for="inputAddress">ફાઇલ નંબર</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
</div>
  <div class="form-row">
      <div class="form-group  col-md-4">
    <label for="inputAddress">નોંધના પેજ  </label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
      <div class="form-group  col-md-4">
    <label for="inputAddress">પત્ર વ્યવહારના પેજ</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
     <div class="form-group  col-md-4">
    <label for="inputAddress">કુલ પેજ</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
</div>
  <!-- <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div> -->
  <div class="form-row">
  <div class="form-group  col-md-4">
    <label for="inputAddress">દસ્તાવેજ </label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
     <div class="form-group  col-md-0.5">
    <BR>
   <button type="submit" class="btn btn-primary">જોવું</button>
  </div>
      <div class="form-group  col-md-0.5">
   <BR>
    <button type="submit" class="btn btn-primary">રદ</button>
  </div>
      <div class="form-group  col-md-0.5">
  <BR>
    <button type="submit" class="btn btn-primary">ઉમેરો</button>
  </div>

   <div class="form-group  col-md-4">
<br>
<input type="file" class="file-upload" onchange="console.log(event.target.files)">
</div>
</div>

 <div class="form-row">

  <div class="form-group  col-md-0.5">
    <BR>
   <button type="submit" class="btn btn-primary">જોવું</button>
  </div>
  <div class="form-group  col-md-0.5">
   <BR>
    <button type="submit" class="btn btn-primary">રદ</button>
  </div>
      <div class="form-group  col-md-0.5">
  <BR>
    <button type="submit" class="btn btn-primary">ઉમેરો</button>
  </div>

   <div class="form-group  col-md-4">
<br>
<input type="file" class="file-upload" onchange="console.log(event.target.files)">
</div>
</div>


  <button type="submit" class="btn btn-primary">ઉમેરો</button>
</form>
