
<div class="text-center">
  <h3> રેકોર્ડ એન્ટ્રી ફોર્મ</h3>
</div>
<br>
<!-- <nav class="navbar navbar-light bg-light">
  <div class="container-fluid center">
    <form class="d-flex" style="margin-left: 400px;">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav> -->
<form [formGroup]="DEForm">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputEmail4">ફાઇલનુ વર્ષ</label>
      <input type="number" class="form-control" id="inputEmail4" placeholder="વર્ષ" formControlName="Year">
    </div>
    <div class="form-group col-md-4">
      <label for="date">શાખામાં રેકોર્ડ જમા કરાવ્યા તારીખ</label>
      <input type="date" class="form-control" id="IssueDate" formControlName="IssueDate" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputPassword4">શાખા</label>
      <select class="form-control" placeholder="શાખા" formControlName="Branch">
        <option value="" selected>-- બ્રાન્ચ સિલેક્ટ કરો --</option>
        <option *ngFor="let br of branchList" value={{br.BRANCH}}>
          {{br.BRANCH}}
        </option>

      </select>
    </div>

  <!-- <div class="form-row"></div> -->
  <div class="form-group col-md-4">
    <label for="inputPassword4">વર્ગ</label>
    <select id="inputState" class="form-control"placeholder="વર્ગ"  formControlName="Category">
  <option value="" selected>-- વર્ગ સિલેક્ટ કરો --</option>
      <option>A</option>
            <option>B</option>
                  <option>C</option>
    </select>

  </div>
    </div>
  <!-- <div class="form-group col-md-4">
    <label for="inputPassword4">પ્રકાર</label>
    <input type="text" class="form-control" id="inputPassword4" placeholder="પ્રકાર" formControlName="Types">
  </div> -->


  <div class="form-group">
    <label for="inputAddress">અરજદારનું નામ</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="નામ" formControlName="Name">
  </div>

  <div class="form-group">
    <label for="inputAddress">સરનામું</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="સરનામું" formControlName="Address">
  </div>
 <div class="form-group">
    <label for="inputAddress">વિષય</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="વિષય" formControlName="Subject">
  </div>

  <div class="form-row">

    <div class="form-group col-md-4">
      <label for="inputState">આખરી હુકમ નંબર</label>
          <input type="text" class="form-control" id="inputCity" placeholder="આખરી હુકમ નંબર" formControlName="HukamNo">

    </div>
<div class="form-group col-md-4">
  <label for="inputCity">હુકમ ની તારીખ</label>
  <input type="date" class="form-control" id="IssueDate" formControlName="HukamDate" required>
</div>
  </div>
  <div class="form-row">

    <div class="form-group col-md-4">
      <label for="inputState">તાલુકાનુ નામ</label>
      <input type="text" class="form-control" id="inputCity" placeholder="તાલુકો" formControlName="Taluka">

    </div>
    <div class="form-group col-md-4">
      <label for="inputCity">ગામનુ નામ</label>
      <input type="text" class="form-control" id="inputCity" placeholder="ગામ" formControlName="Village">
    </div>
  </div>
  <div class="form-row">
  <div class="form-group  col-md-4">
    <label for="inputAddress">સર્વે નંબર </label>
    <input type="number" class="form-control" id="inputAddress" placeholder="સર્વે નંબર" formControlName="SurveyNo">
  </div>

  <div class="form-group  col-md-4">
    <label for="inputAddress">કોમ્પેક્ટર નંબર</label>
    <input  type="number"class="form-control" id="inputAddress" placeholder="કોમ્પેક્ટર નંબર" formControlName="CompactorNo">
  </div>
  </div>
  <div class="form-row">
    <div class="form-group  col-md-4">
      <label for="inputAddress">પોટલા નંબર </label>
      <input  type="number" class="form-control" id="inputAddress" placeholder="પોટલા નંબર" formControlName="PotlaNo">
    </div>

    <div class="form-group  col-md-4">
      <label for="inputAddress">ફેરીસ્ટ નંબર</label>
      <input  type="number" class="form-control" id="inputAddress" placeholder="ફેરીસ્ટ નંબર" formControlName="FeristNo">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group  col-md-4">
      <label for="inputAddress">નોંધના પેજ </label>
      <input type="number" class="form-control" id="inputAddress" placeholder="નોંધના પેજ" formControlName="NotePage">
    </div>
    <div class="form-group  col-md-4">
      <label for="inputAddress">પત્ર વ્યવહારના પેજ</label>
      <input  type="number" class="form-control" id="inputAddress" placeholder="પત્ર વ્યવહારના પેજ" formControlName="PostPage">
    </div>
    <div class="form-group  col-md-4">
      <label for="inputAddress">કુલ પેજ</label>
      <input  type="number" class="form-control" id="inputAddress" placeholder="કુલ પેજ" formControlName="TotalPage">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group  col-md-4">
      <label for="inputAddress">અન્ય વિગત </label>
      <input type="text" class="form-control" id="inputAddress" placeholder="અન્ય વિગત" formControlName="anyDetail">
    </div>
  <div class="form-group  col-md-1">
    <br>
    <label>દસ્તાવેજ</label>

  </div>
    <div class="form-group  col-md-2">
      <br>
      <input type="file"  (change)="onFileSelected($event)">
    </div>
    <div class="form-group  col-md-0.5">
      <BR>
      <button type="submit" (click)="onUpload()" class="btn btn-primary">અપલોડ કરો</button>
    </div>

  </div>


  <div class="form-row col-md-12">

    <div class="form-group col-md-3">
      <BR>
        <button type="submit" (click)="AddDataEntry(DEForm.value); $event.preventDefault();" [disabled]="isEditMode" class="btn btn-primary" style="width: -webkit-fill-available;">ઉમેરો</button>    </div>

    <!-- <div class="form-group col-md-3">
      <BR>
      <button type="submit" class="btn btn-primary" (click)="onReset()" style="width: -webkit-fill-available;">રદ</button>
    </div> -->
    <div class="form-group col-md-3">
      <BR>

      <button type="submit" *ngIf="isEditMode" (click)="onUpdate();" class="btn btn-primary"
        style="width: -webkit-fill-available;">સુધારો</button>
    </div>

  </div>
</form>
