<div class="text-center">
  <h3> Record List </h3>
</div>
<br>
<div class="table-responsive">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"> </th>
      <th scope="col"> </th>
        <th scope="col"> </th>
        <th scope="col">Year </th>
        <th scope="col">Branch </th>
        <th scope="col">Category </th>
        <th scope="col">Types </th>
        <th scope="col">Subject </th>
        <th scope="col">Name </th>
        <th scope="col">Address </th>
        <th scope="col">Village </th>
        <th scope="col">Taluka </th>
        <th scope="col">OrderName </th>
        <th scope="col">CupBoardNo </th>
        <th scope="col">PartitionNo </th>
        <th scope="col">FileNo </th>
        <th scope="col">NotePage </th>
        <th scope="col">PostPage </th>
        <th scope="col">TotalPage </th>
        <th scope="col">DocumentName</th>
        <!-- <th scope="col">DocumentID </th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of RecordList">
      <TD> <button type="button" (click)="viewDocument(item.documentId);  $event.preventDefault();"   class="btn btn-primary">View</button></TD>

  <TD>   <button type="button"  (click)="EditDataEntry(item._id);  $event.preventDefault();"  class="btn btn-primary" >Edit</button> </TD>
  <td>   <button type="button"  (click)="DeleteDataEntry(item._id);  $event.preventDefault();"  class="btn btn-primary">Delete</button> </td>
  <td>{{item.Year }} </td>
  <td>{{item.Branch }} </td>
  <td>{{item.Category }} </td>
  <td>{{item.Types }} </td>
  <td>{{item.Subject }} </td>
  <td>{{item.Name }} </td>
  <td>{{item.Address }} </td>
  <td>{{item.Village }} </td>
  <td>{{item.Taluka }} </td>
  <td>{{item.OrderName }} </td>
  <td>{{item.CupBoardNo }} </td>
  <td>{{item.PartitionNo }} </td>
  <td>{{item.FileNo }} </td>
  <td>{{item.NotePage }} </td>
  <td>{{item.PostPage }} </td>
  <td>{{item.TotalPage }} </td>
  <td>{{item.DocumentName}} </td>
  <!-- <td>{{item.DocumentID }} </td> -->
    </tr>
  </tbody>
</table>
</div>
