<div class="text-center">
  <h3> રેકોર્ડ લિસ્ટ</h3>
</div>
<br>
<div class="row">
  <div>
    <form [formGroup]="searchForm">

      <div class="table-responsive">
        <table class="table">
          <thead class="thead">
            <tr>
              <th scope="col"><input type="checkbox" formControlName="checkYear"     (change)="toggleTextBox('txtYear',     'checkYear'    )">          ફાઇલનુ વર્ષ 			</th>
              <th scope="col"><input type="checkbox" formControlName="checkBranch"   (change)="toggleTextBox('txtBranch',   'checkBranch'  )">      શાખા 						</th>
              <th scope="col"><input type="checkbox" formControlName="checkCategory" (change)="toggleTextBox('txtCategory', 'checkCategory')">  વર્ગ 							</th>
              <th scope="col"><input type="checkbox" formControlName="checkHukamNo"  (change)="toggleTextBox('txtHukamNo',  'checkHukamNo' )">    આખરી હુકમ નંબર 	</th>
              <th scope="col"><input type="checkbox" formControlName="checkHukamDate"(change)="toggleTextBox('txtHukamDate','checkHukamDate')">હુકમ ની તારીખ 	 </th>
              <th scope="col"><input type="checkbox" formControlName="checkTaluka"   (change)="toggleTextBox('txtTaluka',   'checkTaluka'  )"> 			તાલુકો 					  </th>
              <th scope="col"><input type="checkbox" formControlName="checkVillage"  (change)="toggleTextBox('txtVillage',  'checkVillage' )"> 		ગામ 						</th>
              <th scope="col"><input type="checkbox" formControlName="checkSurveyNo" (change)="toggleTextBox('txtSurveyNo', 'checkSurveyNo')">	સર્વે નંબર 				 </th>
              <th scope="col"><input type="checkbox" formControlName="checkName"     (change)="toggleTextBox('txtName',     'checkName'    )">  				અરજદારનુ નામ 		 </th>
              <th scope="col"><input type="checkbox" formControlName="checkSubject"  (change)="toggleTextBox('txtSubject',  'checkSubject' )"> 		વિષય 						 </th>
              <th scope="col"><input type="checkbox" formControlName="checkPotlaNo"  (change)="toggleTextBox('txtPotlaNo',  'checkPotlaNo' )"> 		પોટલા નંબર        </th>
              <th scope="col"><input type="checkbox" formControlName="checkFeristNo" (change)="toggleTextBox('txtFeristNo', 'checkFeristNo')">  ફેરીસ્ટ નંબર        </th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td> <input type="text" formControlName="txtYear" class="spacebox"> </td>
              <td> <input type="text" formControlName="txtBranch" class="spacebox"> </td>
              <td> <input type="text" formControlName="txtCategory" class="spacebox"> </td>
              <td> <input type="text" formControlName="txtHukamNo" class="spacebox"> </td>
              <td> <input type="text" formControlName="txtHukamDate" class="spacebox"> </td>
              <td> <input type="text" formControlName="txtTaluka" class="spacebox"> </td>
              <td> <input type="text" formControlName="txtVillage" class="spacebox"> </td>
              <td> <input type="text" formControlName="txtSurveyNo" class="spacebox"> </td>
              <td> <input type="text" formControlName="txtName" class="spacebox"> </td>
              <td> <input type="text" formControlName="txtSubject" class="spacebox"> </td>
              <td> <input type="text" formControlName="txtPotlaNo" class="spacebox"> </td>
              <td> <input type="text" formControlName="txtFeristNo" class="spacebox"> </td>

            </tr>
          </tbody>
        </table>
      </div>

    </form>
  </div>
  <div>
    <button type="button" style="width: 72px;margin-left: 10px;margin-top: 5px;" class="btn btn-primary" (click)="search()">Search</button>
    <br><br>
    &nbsp;&nbsp;
    <button type="button" style="width: 72px;margin-top: -10px;" class="btn btn-primary"  (click)="exit()">Back</button>
  </div>
</div>
<div>
  <button type="button" style="width: 72px; margin-left: 10px;" class="btn btn-primary" (click)="printPage()">Print</button>
  &nbsp;
  <button type="button"  style="width: 72px;  margin-left: 10px;"class="btn btn-primary" (click)="generatePDF()">PDF</button>
    &nbsp;
  <button type="button"  style="width: 72px;  margin-left: 10px;"class="btn btn-primary" (click)="exportExcel()">Excel</button>

</div>
      <br>
<div id="print-section" class="table-responsive">
<table  class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"  class="no-print"> </th>
      <!-- <th scope="col"> </th>
      <th scope="col"> </th> -->
      <th scope="col">ફાઇલનુ વર્ષ </th>
      <th scope="col">શાખા </th>
      <th scope="col">વર્ગ </th>
      <th scope="col">આખરી હુકમ નંબર </th>
      <th scope="col">હુકમ ની તારીખ    </th>
      <th scope="col">તાલુકો           </th>
      <th scope="col">ગામ             </th>
      <th scope="col">સર્વે નંબર         </th>
      <th scope="col">અરજદાર નુ નામ    </th>
      <th scope="col">વિષય             </th>
      <th scope="col">પોટલા નંબર       </th>
      <th scope="col">ફેરીસ્ટ નંબર       </th>

      <!-- <th scope="col">DocumentID </th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of RecordList">

      <!-- <TD> <button type="button" (click)="viewDocument(item.documentId);  $event.preventDefault();"   class="btn btn-primary">View</button></TD> -->
      <TD  class="no-print"><button type="button" (click)="viewDocument(item.documentId); $event.preventDefault();"
          [disabled]="!item.documentId" class="btn btn-primary">View</button></TD>
      <TD> <button type="button" (click)="EditDataEntry(item._id);  $event.preventDefault();"
          class="btn btn-primary">Edit</button> </TD>
      <!-- <td> <button type="button" (click)="DeleteDataEntry(item._id);  $event.preventDefault();"
          class="btn btn-primary">Delete</button> </td> -->
      <td>{{item.Year      }} </td>
      <td>{{item.Branch    }} </td>
      <td>{{item.Category  }} </td>
      <td>{{item.HukamNo   }} </td>
      <td>{{item.HukamDate }} </td>
      <td>{{item.Taluka    }} </td>
      <td>{{item.Village   }} </td>
      <td>{{item.SurveyNo  }} </td>
      <td>{{item.Name      }} </td>
      <td>{{item.Subject   }} </td>
      <td>{{item.PotlaNo   }} </td>
      <td>{{item.FeristNo  }} </td>

      <!-- <td>{{item.DocumentID }} </td> -->
    </tr>
  </tbody>
</table>
</div>

