<div class="text-center">
  <h3> Record List </h3>
</div>
<br>
<form >

<div class="table-responsive">
<table class="table">
  <thead class="thead">
    <tr>
      <th scope="col"><input type="checkbox" name="Year">       વર્ષ           </th>
      <th scope="col"><input type="checkbox" name="Branch">     શાખા        </th>
      <th scope="col"><input type="checkbox" name="Category">   કેટેગરી    </th>
      <th scope="col"><input type="checkbox" name="Types">      પ્રકાર        </th>
      <th scope="col"><input type="checkbox" name="Subject">    વિષય        </th>
      <th scope="col"><input type="checkbox" name="Name">       નામ            </th>
      <th scope="col"><input type="checkbox" name="Address">    સરનામું       </th>
      <th scope="col"><input type="checkbox" name="Village">    ગામ         </th>
      <th scope="col"><input type="checkbox" name="Taluka">     તાલુકો           </th>
      <th scope="col"><input type="checkbox" name="OrderName">  હુકમનુ નામ    </th>
      <th scope="col"><input type="checkbox" name="CupBoardNo"> કબાટ નંબર   </th>
      <th scope="col"><input type="checkbox" name="PartitionNo"> દફતર નંબર   </th>
      <th scope="col"><input type="checkbox" name="FileNo">     ફાઇલ નંબર         </th>
        <button type="button" style="width: 72px;" class="btn btn-primary">Back</button>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> <input type="text" name="txtYear" class="spacebox"> </td>
      <td> <input type="text" name="txtBranch" class="spacebox"> </td>
      <td> <input type="text" name="txtCategory" class="spacebox"> </td>
      <td> <input type="text" name="txtTypes" class="spacebox"> </td>
      <td> <input type="text" name="txtSubject" class="spacebox"> </td>
      <td> <input type="text" name="txtName" class="spacebox"> </td>
      <td> <input type="text" name="txtAddress" class="spacebox"> </td>
      <td> <input type="text" name="txtVillage" class="spacebox"> </td>
      <td> <input type="text" name="txtTaluka" class="spacebox"> </td>
      <td> <input type="text" name="txtOrderName" class="spacebox"> </td>
      <td> <input type="text" name="txtCupBoardNo" class="spacebox"> </td>
      <td> <input type="text" name="txtPartitionNo" class="spacebox"> </td>
      <td> <input type="text" name="txtFileNo" class="spacebox"> </td>
      <button type="button" style="width: 72px;" class="btn btn-primary">Search</button>
    </tr>
  </tbody>
</table>
</div>
</form>
<br>
<div class="table-responsive">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"> </th>
      <th scope="col"> </th>
        <th scope="col"> </th>
        <th scope="col">વર્ષ          </th>
        <th scope="col">શાખા          </th>
        <th scope="col">કેટેગરી       </th>
        <th scope="col">પ્રકાર        </th>
        <th scope="col">વિષય         </th>
        <th scope="col">નામ          </th>
        <th scope="col">સરનામું          </th>
        <th scope="col">ગામ          </th>
        <th scope="col">તાલુકો         </th>
        <th scope="col">હુકમનુ નામ       </th>
        <th scope="col">કબાટ નંબર       </th>
        <th scope="col"> દફતર નંબર       </th>
        <th scope="col">ફાઇલ નંબર       </th>
        <th scope="col">નોંધના પેજ      </th>
        <th scope="col">પત્ર વ્યવહારના પેજ        </th>
        <th scope="col">કુલ પેજ           </th>
        <th scope="col">દસ્તાવેજ</th>
        <!-- <th scope="col">DocumentID </th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of RecordList">
      <TD> <button type="button" (click)="viewDocument(item.documentId);  $event.preventDefault();"   class="btn btn-primary">View</button></TD>

  <TD>   <button type="button"  (click)="EditDataEntry(item._id);  $event.preventDefault();"  class="btn btn-primary" >Edit</button> </TD>
  <td>   <button type="button"  (click)="DeleteDataEntry(item._id);  $event.preventDefault();"  class="btn btn-primary">Delete</button> </td>
  <td>{{item.Year }} </td>
  <td>{{item.Branch }} </td>
  <td>{{item.Category }} </td>
  <td>{{item.Types }} </td>
  <td>{{item.Subject }} </td>
  <td>{{item.Name }} </td>
  <td>{{item.Address }} </td>
  <td>{{item.Village }} </td>
  <td>{{item.Taluka }} </td>
  <td>{{item.OrderName }} </td>
  <td>{{item.CupBoardNo }} </td>
  <td>{{item.PartitionNo }} </td>
  <td>{{item.FileNo }} </td>
  <td>{{item.NotePage }} </td>
  <td>{{item.PostPage }} </td>
  <td>{{item.TotalPage }} </td>
  <td>{{item.DocumentName}} </td>
  <!-- <td>{{item.DocumentID }} </td> -->
    </tr>
  </tbody>
</table>
</div>
