<!-- <body class="hold-transition login-page"> -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">

  <div class="login-box">
    <div class="text-center">
      <h3> ચેન્જ પાસવર્ડ </h3>
    </div>
    <div class="card card-outline card-warning">
      <div class="card-body">
        <!-- <form [formGroup]="ChangeForm"> -->
           <form [formGroup]="ChangeForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="oldPassword" class="col-sm-3 col-form-label">જુનો પાસવર્ડ</label>
      <div class="col-sm-9">
        <input
          formControlName="oldPassword"
          type="password"
          class="form-control"
          placeholder="જુનો પાસવર્ડ"
        />
        <div *ngIf="ChangeForm.get('oldPassword')?.invalid && ChangeForm.get('oldPassword')?.touched" class="text-danger">
          Old password is required and must be 6-20 characters long.
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="newPassword" class="col-sm-3 col-form-label">નવો પાસવર્ડ</label>
      <div class="col-sm-9">
        <input
          formControlName="newPassword"
          type="password"
          class="form-control"
          placeholder="નવો પાસવર્ડ"
        />
        <div *ngIf="ChangeForm.get('newPassword')?.invalid && ChangeForm.get('newPassword')?.touched" class="text-danger">
          New password is required and must be 6-20 characters long.
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="confirmPassword" class="col-sm-3 col-form-label">કન્ફર્મ પાસવર્ડ</label>
      <div class="col-sm-9">
        <input
          formControlName="confirmPassword"
          type="password"
          class="form-control"
          placeholder="કન્ફર્મ પાસવર્ડ"
        />
        <div  *ngIf="ChangeForm.get('confirmPassword')?.hasError('notMatching') && ChangeForm.get('confirmPassword')?.touched"
        class="text-danger"
      >
        Passwords do not match.
      </div>
      
      
      </div>
    </div>

    <div class="row">
      <div class="col-6 offset-3">
        <button class="btn btn-primary btn-block" type="submit" >સબમિટ</button>
      </div>
    </div>
  </form>
</div>
    </div>
      </div>
    </div>
  </div>
  </div>
<!-- </body> -->
<!-- </html> -->
