<!-- <body class="hold-transition login-page"> -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">

  <div class="login-box">
    <div class="text-center">
      <h3> ચેન્જ પાસવર્ડ </h3>
    </div>
    <div class="card card-outline card-warning">
      <div class="card-body">
        <form [formGroup]="ChangeForm" (ngSubmit)="ChangePWd(ChangeForm.value)">

          <!-- <label for="password" class="col-sm-3 col-form-label">પાસવર્ડ</label>

          <div class="input-group mb-3">
            <input formControlName="oldPassword" type="password" class="form-control" placeholder="Old Password" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div> -->

          <div class="form-group row">
            <label for="password" class="col-sm-3 col-form-label">જુનો પાસવર્ડ </label>
            <div class="col-sm-9">
              <div class="input-group mb-3">
                <input formControlName="oldPassword" type="password" class="form-control" placeholder="જુનો પાસવર્ડ"
                  required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-user"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="password" class="col-sm-3 col-form-label">નવો પાસવર્ડ</label>
            <div class="col-sm-9">
              <div class="input-group mb-3">
                <input formControlName="newPassword" type="password" class="form-control" placeholder="નવો પાસવર્ડ"
                  required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-user"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="password" class="col-sm-3 col-form-label">કન્ફર્મ પાસવર્ડ</label>
            <div class="col-sm-9">
              <div class="input-group mb-3">
                <input formControlName="confirmPassword" type="password" class="form-control"
                  placeholder="કન્ફર્મ પાસવર્ડ" required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-user"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6 offset-3">
              <button class="btn btn-block btn-bg" type="submit" style="background-color:  rgba(0, 0, 0, 0.5); color: white;">સબમિટ</button>

            </div>
          </div>
        </form>

</div>
    </div>
      </div>
    </div>
  </div>
  </div>
<!-- </body> -->
<!-- </html> -->
