.card-warning.card-outline {
  border-top: 3px solid rgba(44, 62, 80);
}
.container {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}
/* @media (max-width: 768px) {
  .login-box {
    margin-top: 10px;
  }
} */
