
  <!-- <nav class="navbar navbar-light bg-light">
    <div class="container-fluid center">
      <form class="d-flex" style="margin-left: 400px;">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav> -->
  <div class="container">
<div class="text-center">
  <h3> ઓફિસ એન્ટ્રી</h3>
</div><BR><BR>
  <form [formGroup]="officemasterForm">

        <div class="row">
          <div class="form-group col-md-4">
        <label for="dcode">જિલ્લાનું નામ</label>
          </div>
          <div class="form-group col-md-4">
            <select class="form-control" placeholder="જિલ્લાનું નામ પસંદ કરો" formControlName="dcode">
              <option value="" selected>-- Select District --</option>
              <option *ngFor="let dr of districtList" [value]="dr.did">{{ dr.dname }}</option>
            </select>
          </div>
        </div>
<div class="row">
  <div class="form-group col-md-4">
    <label for="OfficeId">ઓફિસનું નામ</label>
  </div>
  <div class="form-group col-md-4">
        <input type="text" class="form-control" id="inputAddress" placeholder="ઓફિસનું નામ" formControlName="name">
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
  <label for="">ઓફિસ ટાઈપ</label>
  </div>
  <div class="form-group col-md-4">
    <select class="form-control" placeholder="ઓફિસ ટાઈપ પસંદ કરો" formControlName="OTYP">

      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
  </div>
</div>

    <div class="row justify-content-center">
      <div class="form-group col-md-2">
        <button type="submit" (click)="Addofficemasterlist(officemasterForm.value); $event.preventDefault();"
          [disabled]="isEditMode" class="btn btn-primary" style="width: -webkit-fill-available;">ઉમેરો</button>

      </div>
    </div>


    <br/>

    <div>
    <div>

      <button type="submit" *ngIf="isEditMode" (click)="onUpdateOffice();" class="btn btn-primary"
        style="width: -webkit-fill-available;">સુધારો</button>
    </div>
  </div>



</form>
</div>
