
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Record Management System</title>
            <link rel="stylesheet" href="/src/assets/css/style.css">
</head>

<body>
  <header>
    <div class="container" id="navbar-design">
      <h1>Record Management System</h1>
      <nav class="navbar navbar-expand " >
        <!-- <ul>

          <li><a class="nav-link" routerLink="/login" data-widget="pushmenu" role="button"><i class="fas fa-bars">Login</i></a></li>
          <li><a href="#">Register</a></li>
        </ul> -->


        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto" *ngIf="!authenticated">
          <li class="nav-item">
            <a class="nav-link btn btn-outline-primary me-2" routerLink="/login" data-widget="pushmenu" role="button"><i class="fas fa-bars">Login</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-primary" routerLink="/register" data-widget="pushmenu" role="button"><i
                class="fas fa-bars">Register</i></a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto" *ngIf="authenticated">
          <li class="nav-item">
            <a class="nav-link" routerLink="/register" data-widget="pushmenu" (click)="LogOut()" role="button"><i
                class="fas fa-bars">Logout</i></a>
          </li>

        </ul>
      </nav>
    </div>
  </header>

  <section id="hero">
    <div class="container">
      <div class="content-box">
      <h2 style="color: rgb(0, 0, 136);"><b>Welcome to our Record Management System</b></h2>
      <p  style="color: rgb(0, 0, 136);"><b>
        Our system provides an efficient way to manage records securely.
        It helps organizations to store, retrieve, and organize their data effectively.</b>
      </p>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
            <p><a href="https://guj.nic.in/" target="_blank" style="color: white;">&copy; 2024 National Informatics Centre (NIC). All Rights
                Reserved.</a></p>
    </div>
  </footer>
</body>

</html>
